<if expr="is_macosx">
@page {
  margin: 1in;
}
@keyframes name {
  to { color: red; }
  from { color: blue; }
  0% { height: 0; }
  100% { height: 100px; }
}
@media screen {
  a {
<if expr="expr(1) or expr(2)">
    text-decoration: none;
</if>
  }
}
a {
  color: grey;
}
</if>
